# Next.js build output
.next/
out/
build/

# Dependency directories
node_modules/

# Local env files (highly critical: do not push secrets to GitHub)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# System Files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
